:root {
  --ion-color-primary: #ba0c2f; /* red Madagascar */
  --ion-color-secondary: #1b8a21; /* green */
  --ion-color-tertiary: #ffd400; /* yellow */
  --ion-color-light: #ffffff; /* white */
  --ion-font-family: 'Inter', 'Helvetica', sans-serif;
}

body { font-family: var(--ion-font-family); }
